node_modules/
yarn-error.log
.env
.nyc_output
coverage
build/

# Ignore sonnar scanner
.scannerwork/

# Ignore log
*.log
.github/workflows/*
.test.xyz

# Ignore tmp
tmp/

# ignore lambda zip file
lambdaSchedular/lambdaFunc.zip

**/.DS_Store
.idea/

/.vscode/
yarn.lock
